@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Style pour les liens du footer */
.footer-link {
    transition: color 0.3s ease; /* Animation douce pour le changement de couleur */
}

.footer-link:hover {
    color: #198754 !important; /* Le vert 'success' de Bootstrap */
    text-decoration: underline !important; /* Optionnel : souligne au survol */
}